<div class="container">
<div class="row">
<h1><%= @user.username %> <small><%= link_to 'Edit profile', edit_user_registration_path, :class => 'link' %></small></h1>
<p> Last log in occured on <%= @user.last_sign_in_at %></p>
<h2> My To-Do Lists <small> <%= link_to "New Item", new_user_item_path(@user, @item), class: 'btn btn-primary' %></small> </h2>
<div class="col">
  <ul class="list-group">
  <%= render partial: 'items/item', collection: @items || "Lets start a To-Do List!"%>
  </ul>
</div>
</div>
</div>
