<div class="container">
<div class="row">
<h1><%= @user.username %> <small><%= link_to 'Edit profile', edit_user_registration_path, :class => 'link' %></small></h1>
<p> Last log in occured on <%= @user.last_sign_in_at %></p>
<h2> My To-Do Lists <small> <%= link_to "New Item", new_user_item_path(@user, @item), class: 'btn btn-primary' %></small> </h2>
<div class="col">
  <% @items.each do |item| %>
    <ul class="list-group">
        <li class="list-group-item">
          <span class="badge"> Time left </span><%= item.name %>
        </li>
    </ul>
  <% end %>
</div>
</div>
</div>
